@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: #0a0a0a;
}

h1 {
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: -0.25rem;
}

a,
p {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 0.9;
    user-select: none;
}

.hero h1 span {
    display: block;
    overflow: hidden;
}

nav {
    position: fixed;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
}

.logo,
.menu-toggle {
    padding: 1rem;
    cursor: pointer;
}

.logo {
    width: 5rem;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;

    background: rgba(10, 10, 10, 0.85);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    display: flex;
    justify-content: flex-end;

    pointer-events: none;
    opacity: 0;
    will-change: opacity;
    z-index: 1;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
}

.menu-links {
    position: relative;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-item a {
    color: #4d4d4d;
    font-size: 4rem;
    line-height: 1;
    background: linear-gradient(#fff, #fff) left no-repeat, #4d4d4d;
    background-size: 0% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero {
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    background: url(../images/hero.jpg) 50% 50% no-repeat;
    background-size: cover;
    overflow: hidden;
}

.hero h1 {
    width: 75%;
    color: #fff;
}
